body{
    background-color: black;
}
.margi{
    background-color: white;
    margin-top: 0%;
    margin-left: 30%;
    margin-right: 30%;
    font-size: large;
}

.immagine{
    background-image: url('../img/pattern.png');
    background-color: deepskyblue; 
    color: blanchedalmond;
    height: 6em;
    
}
.text{
    max-width: 10em;
    padding-top: 3em;
    margin-left: 0%;
}
   
    


.scritta-left{
     position: absolute;
    bottom: 10em;
    left: 16px;
}

h1{
    font-family: 'Poppins', sans-serif;margin: 0em;
}

.grigio{
    font-size: 1em;
    color: darkgray;
    margin-top: 0em;
}
.azzurro{
    color: deepskyblue;
}

.yellow{
    background-color:#f3f72e;
}

.tabella-head{
    width: 35%;
    color: lightyellow;
    background-color: deepskyblue;
}
.padding-left{
    padding-left: 2%;
}

.tabella-td{
    background-color:rgb(156, 212, 231);
    color: black;
}

.monitor{
    background-image: url('../img/monitor.jpg');
    height: 8em;
    background-repeat: no-repeat;
    color: blanchedalmond;
    margin-left: 0.5em;
}

.graph{
    background-image: url('../img/graph.jpg');
    height: 8em;
    background-repeat: no-repeat;
    color: blanchedalmond;
    margin-left: 0.5em;
}