body{
    background-color: black;
}
.margi{
    background-color: white;
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: large;
}

.immagine{
    background-image: url('../img/pattern.png');
    background-color: rgba(41,194,255,0.5);
    color: blanchedalmond;
    height: 8em;
    
}
.text{
    max-width: 10em;
 
    
    

}
   
    


.scritta-left{
     position: absolute;
    bottom: 10em;
    left: 16px;
}

h1{
    font-family: 'Poppins', sans-serif;margin: 0em;
}

.grigio{
    font-size: 1em;
    color: darkgray;
    margin-top: 0em;
}
.azzurro{
    color: deepskyblue;
}

.yellow{
    background-color:#f3f72e;
}

.tabella-head{
    width: 35%;
    color: lightyellow;
    background-color: deepskyblue;
}
.tabella-td{
    background-color:rgb(156, 212, 231);
    color: black;
}

.monitor{
    background-image: url('../img/monitor.jpg');
    height: 8em;
    background-repeat: no-repeat;
    color: blanchedalmond;
}

.graph{
    background-image: url('../img/graph.jpg');
    height: 8em;
    background-repeat: no-repeat;
    color: blanchedalmond;
}