body{
    background-color: black;
}
.margi{
    background-color: white;
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: large;
}

.immagine{
    background-image: url('../img/pattern.png');
    background-color: deepskyblue;
}



h1{
    font-family: 'Poppins', sans-serif;
}

.grigio{
    font-size: 1.2em;
    color: darkgray;
}
.azzurro{
    color: deepskyblue;
}

tag{
    background-color:#f3f72e;
}

.tabella-head{
    width: 35%;
    color: lightyellow;
    background-color: deepskyblue;
}
.tabella-td{
    background-color:rgb(156, 212, 231);
    color: black;
}
